# App
NODE_ENV=production
SESSION_SECRET=317337ef8ba2db0ddac86a19c25eff3723066a48f34e60c46e4c6d892f774e70
DATABASE_URL=postgres://postgres:4de742809e224c3889d1@easypanel.arenad65.cloud:5432/harmonia?sslmode=disable

# Spotify OAuth
SPOTIFY_CLIENT_ID=d9a97fdb948a4052ada60ec7fca4c425
SPOTIFY_CLIENT_SECRET=687b6e9683344cfc84f07866e91d56e4
SPOTIFY_REDIRECT_URI=https://harmonia.portaldoarinos57.org/auth/spotify/callback
